.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slick-dots-custom {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots-custom li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots-custom li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots-custom li button:hover,
.slick-dots-custom li button:focus {
  outline: none;
}
.slick-dots-custom li button:hover:before,
.slick-dots-custom li button:focus:before {
  opacity: 1;
}
.slick-dots-custom li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.25;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots-custom li.slick-active button:before {
  opacity: 0.75;
  color: #eedda4;
}

.slick-dots-gift {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots-gift li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots-gift li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots-gift li button:hover,
.slick-dots-gift li button:focus {
  outline: none;
}
.slick-dots-gift li button:hover:before,
.slick-dots-gift li button:focus:before {
  opacity: 1;
}
.slick-dots-gift li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 20px;

  content: '';
  border-bottom: 4px solid #dfe3ec;
  text-align: center;

  opacity: 1;
  color: #dfe3ec;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots-gift li.slick-active button:before {
  content: '';
  border-bottom: 4px solid #074c31;
  opacity: 1;
  color: #074c31;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border-radius: 8px;
  max-height: 330px;
  max-width: 176px !important;
}

.swiper-slide.swiper-slide-voucher {
  max-height: 230px;
}

.swiper-pagination-bullet-active {
  background-color: #074c31 !important;
}
